[submodule "libs/JUCECC"]
	path = libs/JUCECC
	url = git@github.com:Hippasusss/JUCECC.git
[submodule "libs/melatonin_inspector"]
	path = libs/melatonin_inspector
	url = git@github.com:sudara/melatonin_inspector.git
